<div class="card-body h-100">
  <p class="card-title">Today's highlight</p>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">
      <p class="display-2">28°</p>
      <p>09:00AM</p>
      <p>Partly Cloudy.</p>
    </li>
    <li class="list-group-item">
      <p class="display-2">23°</p>
      <p>10:00AM</p>
      <p>Clear.</p>
    </li>
    <li class="list-group-item">
      <p class="display-2">20°</p>
      <p>11:00AM</p>
      <p>Clear</p>
    </li>
    <li class="list-group-item">
      <p class="display-2">19°</p>
      <p>12:00PM</p>
      <p>Clear</p>
    </li>
    <li class="list-group-item">
      <p class="display-2">24°</p>
      <p>01:00PM</p>
      <p>Little rain</p>
    </li>
    <li class="list-group-item">
      <p class="display-2">25°</p>
      <p>02:00PM</p>
      <p>Partly Cloudy.</p>
    </li>
    <li class="list-group-item">
      <p class="display-2">26°</p>
      <p>03:00PM</p>
      <p>Sunny.</p>
    </li>
    <li class="list-group-item">
      <p class="display-2">21°</p>
      <p>04:00PM</p>
      <p>Clear.</p>
    </li>
  </ul>
</div>
