.display-2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3.75rem;
  font-weight: 500;
  letter-spacing: 2.1px;
  padding-inline: 0;
}
.tomorrow-forecast {
  border-bottom: 2px solid rgba(255, 255, 255, 0.16);
  margin-block-start: 1rem;
}
p {
  font-size: 1.15rem;
  letter-spacing: 0.0375rem;
}
.light {
  font-weight: 300;
}
.small {
  font-size: 1.125rem;
  padding-inline: 0;
}
