<div class="card-body">
  <div class="tomorrow-forecast">
    <div class="row mb-4 justify-content-center">
      <p class="col-7">Tomorrow ,<span class="light">18 July</span></p>
      <p class="col-4 text-end light d-inline">09:00AM</p>
    </div>
    <div class="row mb-4">
      <p class="col text-end small light">Min:15°</p>
      <p class="col text-center display-2">18°</p>
      <p class="col text-start small light">Max:15°</p>
    </div>
    <div class="row">
      <p class="text-center">Light drizzle, gentle breeze.</p>
    </div>
  </div>
</div>
