<app-header></app-header>
<div class="background-image">
  <img
    *ngIf="backgroundImg"
    src="{{ backgroundImgUrl }}"
    alt="{{ backgroundImg.alt_description }}"
    rel="preload"
    (load)="onImageLoad()"
  />
</div>
<div class="container wrapper justify-content-center">
  <div class="row column-gap-0 w-100">
    <div class="col-lg-8 left-side">
      <div class="row row-gap-4">
        <div class="card current-weather">
          <canvas
            id="canvas"
            [height]="backgroundImg?.height"
            [width]="backgroundImg?.width"
          ></canvas>
          <img
            *ngIf="backgroundImg"
            src="{{ backgroundImgUrl }}"
            alt="{{ backgroundImg.alt_description }}"
            rel="preload"
          />
          <app-current-weather> </app-current-weather>
        </div>
        <div class="card hourly-forecast">
          <app-hourly-forecast> </app-hourly-forecast>
        </div>
      </div>
    </div>
    <div class="col-lg-4 pr-0 right-side">
      <div class="card daily-forecast">
        <app-daily-forecast> </app-daily-forecast>
      </div>
    </div>
  </div>
</div>
